:root {
        font-family: sans-serif;

        --color-bg: #ffeed0;
        --color-fg: #604d3d;
        --color-primary: #e27b08;
}

html {
        background-color: var(--color-bg);
        color: var(--color-fg);
}

a {
        color: var(--color-primary);
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.no-aa {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
}

header menu {
        display: flex;
        font-size: 1.8rem;
        text-transform: uppercase;
}

header li {
        list-style: none;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
}

header li a {
        color: var(--color-fg);
}

header li:nth-child(1) {
        flex-grow: 2;
}

menu {
        margin-top: 20px;
        margin-bottom: 20px;
}

header img {
        height: 2rem;
        vertical-align: text-top;
}

header form {
        margin: 0;
}

header input {
        vertical-align: text-top;
        height: 1.8rem;
        border: solid black 0px;
        border-radius: 10px;
        margin: 0;
        padding-left: 5px;

        background-color: var(--color-bg);
        color: var(--color-fg);
}

body {
        margin: auto;
        max-width: 1000px;
}

.box {
        border: solid black 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),
                0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

.box:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15),
                0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.package_card_full {
        margin-bottom: 20px;

        padding: 5px;
        padding-left: 40px;
        padding-right: 40px;

        display: flex;
}

.package_card_full div:nth-child(1) {
        flex-grow: 2;
}

.package_card_full ul {
        list-style: none;
}

.package {
        display: grid;
        grid-template-areas: "h h" "r i";
        grid-template-columns: 70% 1fr;
        grid-gap: 20px;
}

.package__heading {
        grid-area: h;
        padding-left: 20px;
}

.package__readme {
        grid-area: r;
}

.package__readme p {
        font-size: 0.8rem;
        margin: 0;
}

.package__info {
        grid-area: i;
}

.package__info p {
        margin: 2px;
}

table {
        background-color: #e27b0844;
        padding: 8px;

        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
}

th {
        text-align: left;
}