@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

:root {
	font-family: "Hind Vadodara", sans-serif;

	--color-fg: #ffeed0;
	--color-bg: #292521;
	--color-dark: #191511;
	--color-primary: #ff6708;
	--color-dark-primary: #ff670888;
}

html {
	background-color: var(--color-bg);
	color: var(--color-fg);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6,hr {
	color: var(--color-primary);
}

.no-aa {
	image-rendering: optimizespeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.nav {
	padding: 20px;
	margin: 0;
	background-color: var(--color-dark);
	color: var(--color-dark);
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	text-transform: uppercase;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	color: var(--color-fg);
}

.nav > form {
	flex-grow: 0.8;
	margin: 0;
}

.nav > form > input {
	width: 100%;
	vertical-align: text-top;
	height: 1.5rem;
	border: solid black 0px;
	margin: 0;
	padding-left: 5px;

	background-color: var(--color-bg);
	color: var(--color-fg);
}

header img {
	height: 2rem;
	vertical-align: text-top;
}

body, html {
	margin: 0;
}

article {
	margin: auto;
	max-width: 1000px;
}

blockquote {
	border-left: 4px solid var(--color-fg);
	padding: 5px;
	padding-left: 20px;
}

.box {
	background-color: var(--color-dark);
}

.package_card_full {
	margin-bottom: 20px;

	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;

	display: flex;
}

.package_card_full div:nth-child(1) {
	flex-grow: 2;
}

.package_card_full ul {
	list-style: none;
}

.package {
	display: grid;
	grid-template-areas: "h h" "r i";
	grid-template-columns: 70% 1fr;
	grid-gap: 20px;
}

.package__heading {
	grid-area: h;
	padding-left: 20px;
}

.package__readme {
	grid-area: r;
}

.package__readme p:nth-child(1) {
	font-size: 0.8rem;
	margin: 0;
}

.package__info {
	grid-area: i;
}

.package__info p {
	margin: 2px;
}

.docs {
	display: grid;
	grid-template-areas: "t c";
	grid-template-columns: 300px 1fr;
	grid-gap: 20px;
}

.docs__tree {
	grid-area: t;
	overflow-x: scroll;
	white-space: nowrap;
}

.docs__tree ul {
	list-style: none;
	padding-left: 20px;
}

.docs__tree ul span {
	display: inline-block;
	font-weight: bold;
	background-color: var(--color-dark);
	color: var(--color-primary);
	min-width: calc(100% - 10px);
	padding: 2px;
	padding-left: 5px;
	margin-top: 4px;
}

.docs__tree a {
	color: var(--color-fg);
}

.docs__content {
	grid-area: c;
}

.index {
	text-align: center;
	margin: auto;
	margin-top: 10vh;
	height: 100vh;

	img {
		height: 25vh;
	}

	h1 {
		margin: 0;
		font-size: 6rem;
		color: var(--color-fg);
	}

	p {
		font-size: 2rem;
		margin: 0;
	}

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;

		li {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	form {
		input {
			width: 100%;
			height: 3rem;
			border: solid black 0px;
			padding-left: 20px;
			font-size: 2rem;
			background-color: var(--color-dark);
			color: var(--color-fg);
		}
	}

	.arrow {
		position: absolute;
		color: var(--color-fg);
		font-size: 8rem;
		bottom: 5vh;
		width: 100%;
		margin-left: -50%;
	}

	.arrow:hover {
		text-decoration: none;
	}
}

table {
	background-color: #e27b0844;
	padding: 8px;

	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

th {
	text-align: left;
}

pre {
	max-width: 100%;
	padding: 10px;
	background-color: var(--color-dark);
	color: var(--color-fg);
	overflow: scroll;
}

@media screen and (max-width: 800px) {
	.package {
		grid-template-areas: "h" "i" "r";
		grid-template-columns: 1fr;
	}
	
	.docs {
		grid-template-areas: "t" "c";
		grid-template-columns: 1fr;
	}

	article {
		padding-left: 20px;
		padding-right: 20px;
	}
}
